@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
    background-image: url('../images/bg.jpg');
}

.bodySection {
    background: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    height: 95vh;
}

#heading h1{
    border: 1px solid red;
    text-align: center;
}

#heading img{
    margin: 20px 0 10px; 0;
    width: 420px;
}


#startButton {
    margin-top: 50px;
    width: 250px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    border: none;
    background-image: url('../images/gradient.png');
}

.choices {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: none;
    background: #00d9b9;
    margin-top: 10px;
    padding: 10px;

}

#timer {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #336ab2;
    text-align: center;
}

#question {
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #336ab2;
    text-align: center;
}

#nextQ, #seeResults, #playAgain{
    margin: 10px 0;
    width: 250px;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    background: #336ab2;
    font-family: 'Open Sans', sans-serif;
}